{# GenyBundle:Builder:fieldDetails.html.twig #}

{% set formId = entity.form.id %}
{% set fieldId = entity.id %}

{%
    set ajax = {
        'class': 'domajax change',
        'data-endpoint': path('geny_builder_field_details', {formId: formId, fieldId: fieldId}),
        'data-input': '#geny-field-details-form-' ~ fieldId,
        'data-output-json': 'preview details default',
        'data-json-preview': '#geny-field-preview-' ~ fieldId,
        'data-json-details': '#geny-field-details-' ~ fieldId,
        'data-json-default': '#geny-field-default-' ~ fieldId,
    }
%}

<div class="well">

    <div id="geny-field-details-form-{{ fieldId }}">

        {{ form_start(form) }}

        <div class="form-group form-inline">

            {{
                form_row(form.name, {
                    attr: form.name.vars.attr|merge(ajax)
                })
            }}

            <div class="pull-right">

                {{
                    form_row(form.required, {
                        attr: form.required.vars.attr|merge(ajax)
                    })
                }}

            </div>
        </div>

        {{
            form_row(form.label, {
                attr: form.label.vars.attr|merge(ajax)
            })
        }}

        {{
            form_row(form.help, {
                attr: form.help.vars.attr|merge(ajax)
            })
        }}

        {{ form_end(form) }}

    </div>

    <span id="geny-field-default-container-{{ fieldId }}">
        {{ render(controller('GenyBundle:Builder:fieldDefault', {formId: formId, fieldId: fieldId})) }}
    </span>

    <span id="geny-field-options-container-{{ fieldId }}">
        {{ render(controller('GenyBundle:Builder:fieldOptions', {formId: formId, fieldId: fieldId})) }}
    </span>

    <span id="geny-field-validation-container-{{ fieldId }}">
        {{ render(controller('GenyBundle:Builder:fieldValidation', {formId: formId, fieldId: fieldId})) }}
    </span>

</div>
