{# GenyBundle:Builder:field.html.twig #}

{% set form_id = entity.form.id %}
{% set field_id = entity.id %}

<div
    id="geny-field-readonly-{{ field_id }}" class="geny-script-readonly">
    {{ render(controller('GenyBundle:Builder:fieldPreview', {formId: form_id, fieldId: field_id})) }}
</div>

<div id="geny-field-actions-{{ field_id }}">
    {# default|options|validators|delete|type #}
</div>

<div id="geny-field-details-{{ field_id }}" class="geny-script-field-handle hide">
    {{ render(controller('GenyBundle:Builder:fieldDetails', {formId: form_id, fieldId: field_id})) }}
</div>


{#

    name, label, hint, readonly
    default value
    options
    validators
    remove
    type
    move up / down
    add

#}