{# GenyBundle:Builder:field.html.twig #}

<div
    id="geny-field-button-{{ fieldId }}"
    style="margin-bottom: 3px;"
    class="pull-right geny-script-visibility-button"
    data-geny-target="#geny-field-{{ fieldId }}">
    <button class="btn btn-sm btn-default">
        <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
    </button>
</div>

<div
    id="geny-field-preview-{{ fieldId }}" class="geny-script-preview">
    {{ render(controller('GenyBundle:Builder:fieldPreview', {formId: formId, fieldId: fieldId})) }}
</div>

<div id="geny-field-details-{{ fieldId }}" class="geny-script-visibility-form hide">
    {{ render(controller('GenyBundle:Builder:fieldDetails', {formId: formId, fieldId: fieldId})) }}
</div>
