{# GenyBundle:Builder:fieldDetails.html.twig #}

{% import 'GenyBundle::macros.html.twig' as macros %}

{# Field details form #}

{%
    set ajax = {
        'class': 'domajax change',
        'data-endpoint': path('geny_builder_field_details', {id: id}),
        'data-input': '#geny-field-details-form-' ~ id,
        'data-input-attr': 'geny-force-reload',
        'data-geny-force-reload': not isValid,
        'data-output-json': 'preview details default',
        'data-json-preview': '#geny-field-preview-' ~ id,
        'data-json-details': '#geny-field-details-' ~ id,
        'data-json-default': '#geny-field-default-' ~ id,
        'data-lock': '',
    }
%}

<div class="well">

    <div id="geny-field-details-form-{{ id }}" class="geny-script-no-submit">

        {{ form_start(form) }}

        <div class="form-group form-inline">

            {{
                form_row(form.name, {
                    attr: form.name.vars.attr|merge(ajax)
                })
            }}

            <div class="pull-right">

                {{
                    form_row(form.required, {
                        attr: form.required.vars.attr|merge(ajax)
                    })
                }}

            </div>
        </div>

        {{
            form_row(form.label, {
                attr: form.label.vars.attr|merge(ajax)
            })
        }}

        {{
            form_row(form.help, {
                attr: form.help.vars.attr|merge(ajax)
            })
        }}

        {{ form_end(form) }}

    </div>

    {# Default value button #}

    <button class="btn btn-default" data-toggle="modal" data-target="#geny-default-modal-{{ id }}">
        <span class="glyphicon glyphicon-pencil"></span> {{ 'geny.view.field_default.button' | trans({}, 'geny') }}
    </button>

    {% set body %}
        <div id="geny-field-default-{{ id }}" class="text-left">
            {{ render(controller('GenyBundle:Builder:fieldDefault', {id: id})) }}
        </div>
    {% endset %}

    {% set footer %}
        <button
            type="button"
            class="btn btn-primary domajax click"
            data-endpoint="{{ path('geny_builder_field_default', {id: id}) }}"
            data-input="#geny-field-default-{{ id }}"
            data-output-json="preview default"
            data-json-preview="#geny-field-preview-{{ id }}"
            data-json-default="#geny-field-default-{{ id }}"
            data-dismiss="modal"
            title="{{ 'geny.view.field_default.save.title' | trans({}, 'geny') }}">{{ 'geny.view.field_default.save.value' | trans({}, 'geny') }}</button>
    {% endset %}

    {{
        macros.modal(
            'geny-default-modal-' ~ id,
            'geny.view.field_default.title' | trans({'%name%': entity.name}, 'geny'),
            body,
            footer
        )
    }}

    {# Options button #}

    {% if builder.defaultOptions is not null %}

        <button class="btn btn-default" data-toggle="modal" data-target="#geny-options-modal-{{ id }}">
            <span class="glyphicon glyphicon-cog"></span> {{ 'geny.view.field_options.button' | trans({}, 'geny') }}
        </button>

        {% set body %}
            <div id="geny-field-options-{{ id }}" class="text-left">
                {{ render(controller('GenyBundle:Builder:fieldOptions', {id: id})) }}
            </div>
        {% endset %}

        {% set footer %}
            <button
                type="button"
                class="btn btn-primary domajax click"
                data-endpoint="{{ path('geny_builder_field_options', {id: id}) }}"
                data-input="#geny-field-options-{{ id }}"
                data-output-json="preview default options"
                data-json-preview="#geny-field-preview-{{ id }}"
                data-json-default="#geny-field-default-{{ id }}"
                data-json-options="#geny-field-options-{{ id }}"
                data-dismiss="modal"
                title="{{ 'geny.view.field_options.save.title' | trans({}, 'geny') }}">{{ 'geny.view.field_options.save.value' | trans({}, 'geny') }}</button>
        {% endset %}

        {{
            macros.modal(
                'geny-options-modal-' ~ id,
                'geny.view.field_options.title' | trans({'%name%': entity.name}, 'geny'),
                body,
                footer
            )
        }}

    {% endif %}

    {# Validation button #}

    <button class="btn btn-default" data-toggle="modal" data-target="#geny-validation-modal-{{ id }}">
        <span class="glyphicon glyphicon-ok"></span> {{ 'geny.view.field_validation.button' | trans({}, 'geny') }}
    </button>

    {% set body %}
        <div id="geny-field-validation-{{ id }}" class="text-left">
            {{ render(controller('GenyBundle:Builder:fieldValidation', {id: id})) }}
        </div>
    {% endset %}

    {% set footer %}
        <button
            type="button"
            class="btn btn-primary domajax click"
            data-endpoint="{{ path('geny_builder_field_validation', {id: id}) }}"
            data-input="#geny-field-validation-{{ id }}"
            data-output-json="preview default validation"
            data-json-preview="#geny-field-preview-{{ id }}"
            data-json-default="#geny-field-default-{{ id }}"
            data-json-validation="#geny-field-validation-{{ id }}"
            data-dismiss="modal"
            title="{{ 'geny.view.field_validation.save.title' | trans({}, 'geny') }}">{{ 'geny.view.field_validation.save.value' | trans({}, 'geny') }}</button>
    {% endset %}

    {{
        macros.modal(
            'geny-validation-modal-' ~ id,
            'geny.view.field_validation.title' | trans({'%name%': entity.name}, 'geny'),
            body,
            footer
        )
    }}

</div>
