{# GenyBundle:Builder:fieldChooser.html.twig #}

{% import 'GenyBundle::macros.html.twig' as macros %}

<div class="text-center">
    <button class="btn btn-success" data-toggle="modal" data-target="#geny-field-chooser-modal-{{ id }}">
        <span class="glyphicon glyphicon-plus"></span> {{ 'geny.type.form.field_chooser.label' | trans({}, 'geny') }}
    </button>
    <div>&nbsp;</div>
</div>

{% set body %}

<div>
    <ul class="nav nav-tabs geny-script-tabs" role="tablist">
        {% set index = 0 %}
        {% for title, fields in categories %}

            <li role="presentation" {% if index == 0 %}class="active"{% endif %}>
                <a href="#geny-add-field-{{ id }}-{{ index }}" aria-controls="home" role="tab" data-toggle="tab">{{ title | trans({}, 'geny') }}</a>
            </li>

            {% set index = index + 1 %}
        {% endfor %}
    </ul>

    <div class="tab-content geny-script-preview geny-script-no-submit">

        {% set index = 0 %}
        {% for title, fields in categories %}

            <div role="tabpanel" class="tab-pane fade {% if index == 0 %}in active{% endif %}" id="geny-add-field-{{ id }}-{{ index }}" style="padding-top: 15px;">

                {% for n, field in fields %}

                    <div>
                        <p>{{ field.builder.description | trans({}, 'geny') }}</p>
                        {{ form_widget(attribute(form, field.name)) }}
                    </div>

                    <br/>

                    <div class="text-center">
                        <div id="geny-added-field-{{ id }}-{{ n }}" class="alert alert-success hide">
                            {{ 'geny.type.form.field_chooser.confirm' | trans({}, 'geny') }}
                        </div>
                    </div>

                    <div class="text-right">
                        <button
                            class="btn btn-primary domajax click"
                            data-endpoint="{{ path('geny_builder_add_field', {id: id, type: field.builder.name}) }}"
                            data-output="#geny-fields-{{ id }}"
                            data-lock="#geny-fields-{{ id }}"
                            data-callback-success="$.geny.fieldCreated"
                            data-geny-toggle="#geny-added-field-{{ id }}-{{ n }}"
                            >{{ 'geny.type.form.field_chooser.button' | trans({}, 'geny') }}</button>
                    </div>

                    {% if not loop.last %}
                        <hr/>
                    {% endif %}

                {% endfor %}

            </div>

            {% set index = index + 1 %}
        {% endfor %}
    </div>

</div>

{% endset %}

{{
    macros.modal(
        'geny-field-chooser-modal-' ~ id,
        'geny.type.form.field_chooser.label' | trans({}, 'geny'),
        body
    )
}}
