{# GenyBundle:Builder:formSubmit.html.twig #}


<div
    id="geny-submit-button-{{ id }}"
    style="margin-bottom: 3px;"
    class="pull-right geny-script-visibility-button"
    data-geny-target="#geny-submit-{{ id }}">
    <button class="btn btn-sm btn-default">
        <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
    </button>
</div>

<div class="geny-script-preview">

    {{ form(button) }}

</div>

{%
    set ajax = {
        'class': 'domajax change',
        'data-endpoint': path('geny_builder_form_submit', {id: id}),
        'data-input': '#geny-submit-form-' ~ id,
        'data-output': '#geny-submit-' ~ id,
        'data-lock': '',
    }
%}

<div id="geny-submit-form-{{ id }}" class="geny-script-no-submit geny-script-visibility-form hide">

    {{ form_start(form) }}

    {{ form_row(form.submit, {attr: form.submit.vars.attr|merge(ajax)}) }}

    {{ form_end(form) }}

</div>
