{# GenyBundle:Builder:render.html.twig #}

{% set id = entity.id %}

<div>
    <ul class="nav nav-tabs geny-script-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#geny-form-editor-{{ id }}" aria-controls="home" role="tab" data-toggle="tab">Editor!!!</a></li>
        <li role="presentation">
            <a
                href="#geny-form-preview-{{ id }}"
                aria-controls="profile"
                role="tab"
                class="domajax click"
                data-toggle="tab"
                data-endpoint="{{ path('geny_builder_form_preview', {id: id}) }}"
                data-lock="#geny-form-preview-{{ id }}"
                data-output="#geny-form-preview-{{ id }}">Preview!!!!</a>
        </li>
    </ul>

    <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="geny-form-editor-{{ id }}" style="padding-top: 15px;">
            {{ include('GenyBundle:Builder:formEditor.html.twig', {entity: entity, id: id}) }}
        </div>
        <div role="tabpanel" class="tab-pane fade" id="geny-form-preview-{{ id }}" style="padding-top: 15px;">
            &nbsp;
        </div>
    </div>
</div>