{# GenyBundle:Builder:render.html.twig #}

<div id="form-{{ entity.id }}">
    {{ render(controller('GenyBundle:Builder:formEditor', {id: entity.id})) }}
</div>

<div id="fields-{{ entity.id }}">
    {% for field in entity.fields %}
        <div id="field-{{ entity.id }}-{{ field.id }}">
            {{ render(controller('GenyBundle:Builder:fieldEditor', {formId: entity.id, fieldId: field.id})) }}
        </div>
    {% endfor %}
</div>

<hr/>

<div id="add-{{ entity.id }}">
    {{ render(controller('GenyBundle:Builder:addField', {id: entity.id})) }}
</div>
