{# GenyBundle:Builder:render.html.twig #}

<fieldset>

    <div id="geny-title-{{ entity.id }}">
        {{ render(controller('GenyBundle:Builder:formTitle', {id: entity.id})) }}
    </div>

    <div id="geny-form-{{ entity.id }}">
        {{ render(controller('GenyBundle:Builder:form', {id: entity.id})) }}
    </div>

    <hr/>

    <div id="geny-fields-{{ entity.id }}">
        {{ include('GenyBundle:Builder:fields.html.twig', {entity: entity}) }}
    </div>

    <hr/>

    <div id="geny-add-field-{{ entity.id }}">
        {{ render(controller('GenyBundle:Builder:addField', {id: entity.id})) }}
    </div>

</fieldset>
