{# GenyBundle:Builder:render.html.twig #}

{% extends 'GenyBundle::base.html.twig' %}

{% block content %}

    <div id="main-{{ entity.id }}">
        {{ render(controller('GenyBundle:Builder:mainForm', {id: entity.id})) }}
    </div>

    <div id="fields-{{ entity.id }}">
        {% for field in entity.fields %}

        {% endfor %}
    </div>

    <hr/>

    <div id="add-{{ entity.id }}">
        {{ render(controller('GenyBundle:Builder:addField', {id: entity.id})) }}
    </div>

{% endblock %}
