{# GenyBundle:Builder:render.html.twig #}

<div id="form-{{ entity.id }}">
    {{ render(controller('GenyBundle:Builder:form', {id: entity.id})) }}
</div>

<div id="fields-{{ entity.id }}">
    {{ include('GenyBundle:Builder:fields.html.twig', {entity: entity}) }}
</div>

<hr/>

<div id="add-field-{{ entity.id }}">
    {{ render(controller('GenyBundle:Builder:addField', {id: entity.id})) }}
</div>
